{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead bg-index eggshell-text text-center py-5">
  <div class="container d-flex align-items-center flex-column pt-5">
    <div class="eggshell-text mb-4">
      <h1 class="mb-2">Welcome to ????</h1>
      <p class="mb-0">Find Food. Post Food.</p>
    </div>
  </div>
</header>
<div class="p-4">
  <div class="container">
    <div class="row mt-4">
      <div class="col mx-auto text-center mb-4">
        <div class="mt-3">
        <a href="{#}" class="btn btn-lg navy-bg eggshell-text me-3">Find Food</a>
        <a href="{#}" class="btn btn-lg navy-bg eggshell-text me-3">Post Food</a>
        <a href="#" class="btn btn-lg navy-bg eggshell-text me-3">About</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}