{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h2 class="mb-4 eggshell-text">Find Food</h2>
  <div class="row">
    {% for listing in listings %}
      <div class="col-md-4 mb-4">
        <div class="card job-card">
          {% if listing.image %}
            <img src="{{ listing.image.url }}" class="card-img-top img-card-300" alt="{{ listing.title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title" style="font-family: 'Frank Ruhl Libre', serif; font-weight: 600;">
              {{ listing.title }}
            </h5>

            <p class="card-text" style="font-family: 'Frank Ruhl Libre', serif; font-weight: 400;">
              {{ listing.description|truncatewords:20 }}
            </p>

            <p class="card-text" style="font-family: 'Frank Ruhl Libre', serif; font-weight: 400;">
              <small style="font-family: 'Frank Ruhl Libre', serif; font-weight: 400;">
                Location: {{ listing.location }}
              </small>
            </p>

            <a href="{% url 'listing_detail' listing.pk %}" 
              class="btn navy-bg eggshell-text btn-sm" 
              style="font-family: 'Frank Ruhl Libre', serif; font-weight: 500;">
              View Details
            </a>


          </div>
        </div>
      </div>
    {% empty %}
      <p class="eggshell-text">No listings yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
